:root {
  --color-1: #4c2d79;
  --color-2: #33276a;
  --color-3: #4d64f8;
  --heading-color: #262262;
  --color-pink: #ff44a0;
  --color-pink-dark: #d63283; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 995px) {
    html {
      font-size: 55%; } }

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif; }

.toggleclass {
  display: block !important; }

.header {
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 0 2.4rem; }
  .header__nav {
    display: flex;
    align-items: center;
    width: 100vw; }
    .header__nav .logo {
      width: 16rem;
      margin-right: 2rem;
      margin-top: 5px;
      flex-shrink: 0; }
    .header__nav__search {
      display: flex;
      height: 4.4rem;
      flex-shrink: 0; }
      @media only screen and (max-width: 995px) {
        .header__nav__search {
          display: none; } }
      .header__nav__search > * {
        border-radius: 2px;
        overflow: hidden; }
      .header__nav__search-bar {
        background-color: white;
        position: relative; }
        .header__nav__search-bar input {
          height: 100%;
          width: 31rem;
          padding: 0 4rem;
          border: none;
          font-size: 1.6rem;
          transition: border 0.1s linear; }
        .header__nav__search-bar input:focus {
          outline: none;
          border-bottom: 2px solid var(--color-3); }
        .header__nav__search-bar input:focus + i {
          color: var(--color-3); }
        .header__nav__search-bar i {
          position: absolute;
          top: 50%;
          left: 10px;
          color: #333;
          transform: translateY(-50%);
          font-size: 2rem; }
      .header__nav__search-location {
        position: relative;
        margin-left: 1px; }
        .header__nav__search-location input {
          height: 100%;
          padding: 0 4rem 0 1.6rem;
          width: 14.3rem;
          font-size: 1.6rem;
          border: none; }
        .header__nav__search-location input:focus {
          outline: none;
          border-bottom: 2px solid var(--color-3); }
        .header__nav__search-location input:focus + i {
          color: var(--color-3); }
        .header__nav__search-location i {
          color: #333;
          position: absolute;
          font-size: 2rem;
          right: 12px;
          top: 50%;
          transform: translateY(-50%); }
      .header__nav__search-distance {
        margin-left: 1px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 1.6rem; }
        .header__nav__search-distance .value {
          margin-right: 1rem;
          cursor: default; }
        .header__nav__search-distance i {
          color: #333;
          cursor: pointer; }
      .header__nav__search-btn-container {
        border: none;
        padding: 1px;
        background-color: white;
        width: 11.6rem;
        margin-left: -5px;
        border-radius: 0;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem; }
        .header__nav__search-btn-container button {
          width: 100%;
          height: 100%;
          border: none;
          background-color: var(--color-pink);
          border-radius: inherit;
          color: white;
          font-family: "Nunito";
          font-size: 1.6rem;
          font-weight: 800;
          cursor: pointer; }
          .header__nav__search-btn-container button:focus, .header__nav__search-btn-container button:hover {
            outline: none;
            background-color: var(--color-pink-dark); }
    .header__nav__links {
      display: flex;
      margin-left: auto;
      align-items: center;
      cursor: pointer; }
      .header__nav__links li {
        list-style: none;
        margin-right: 1.5rem; }
        @media only screen and (max-width: 1325px) {
          .header__nav__links li {
            display: none; } }
        .header__nav__links li a {
          color: white;
          text-decoration: none; }
        .header__nav__links li:nth-child(3) {
          border: 1px solid #89a8fe;
          padding: 0.5rem 0;
          border-radius: 5rem; }
          .header__nav__links li:nth-child(3) a {
            color: white;
            text-decoration: none;
            padding: 0rem 2rem; }
  .header__menu-btn {
    color: white;
    font-size: 5rem;
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 1325px) {
      .header__menu-btn {
        display: block; } }

.menu-content {
  background-color: white;
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: all 0.2s;
  box-shadow: 2px 0 100px; }
  .menu-content .content-1 {
    box-shadow: 0 1px 1px -1px;
    padding: 2rem; }
  .menu-content .content-2 {
    padding: 2rem; }
  .menu-content h3 {
    font-size: 1.2rem; }
  .menu-content ul li {
    list-style: none;
    font-size: 1.8rem;
    padding: 0.6rem 0; }

@media only screen and (max-width: 1325px) {
  .menu-toggle {
    visibility: visible;
    width: 80vw;
    opacity: 1; } }

.body-scroll {
  overflow: hidden;
  background: #fff6; }

.job {
  margin: 0rem auto;
  width: 75vw;
  padding: 1rem 0;
  margin-top: 3rem;
  margin-bottom: 7.5rem; }
  @media only screen and (max-width: 995px) {
    .job {
      margin: 0;
      padding: 1.5rem;
      width: 100%; } }
  .job__nav {
    display: flex;
    font-size: 1.4rem;
    flex-wrap: wrap; }
    .job__nav li {
      list-style: none;
      margin-right: 1.3rem; }
      .job__nav li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #555; }
        .job__nav li a:hover {
          color: var(--color-3); }
        .job__nav li a i {
          margin-left: 1.3rem;
          font-size: 1rem;
          color: white;
          text-shadow: 1px 0 #555; }
  .job-header {
    margin-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 1px 1px -1px #555; }
    .job-header .banner {
      font-size: 1rem;
      display: flex;
      width: max-content; }
      .job-header .banner li {
        list-style: none;
        background-color: var(--color-pink-dark);
        justify-content: center;
        padding: 0.35rem 1.8rem;
        color: white;
        text-transform: uppercase; }
    .job-header .status {
      margin-top: 0.8rem;
      font-size: 1.4rem;
      color: #2ea718; }
    .job-header .heading {
      margin-top: 1rem;
      display: grid;
      grid-gap: 2.5rem;
      grid-template-columns: 1fr min-content max-content; }
      @media only screen and (max-width: 995px) {
        .job-header .heading {
          grid-template-columns: 1fr;
          justify-items: center;
          grid-gap: 1rem; } }
      .job-header .heading-name {
        color: var(--heading-color); }
      .job-header .heading-like {
        align-self: center;
        font-size: 2.3rem;
        color: var(--color-pink);
        cursor: pointer; }
      .job-header .heading-btn {
        border: none;
        padding: 1.4rem 3.5rem;
        background-color: var(--color-3);
        border-radius: 20rem;
        color: white;
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: 600; }
        @media only screen and (max-width: 995px) {
          .job-header .heading-btn {
            justify-self: stretch;
            padding: 1rem; } }
        .job-header .heading-btn:hover, .job-header .heading-btn:focus {
          background: #4256ce;
          outline: none;
          cursor: pointer; }
    .job-header .company {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: 2rem; }
      .job-header .company__brand {
        display: grid;
        grid-template-columns: min-content;
        text-align: center;
        font-size: 1.38rem;
        color: #555;
        grid-gap: 1rem; }
        .job-header .company__brand img {
          width: 9.8rem;
          border: 1px solid #55555522;
          padding: 0.5rem; }
    .job-header .job__details {
      color: #555;
      display: grid;
      grid-gap: 0.2rem; }
      .job-header .job__details h2 {
        font-size: 2rem;
        color: #262262; }
      .job-header .job__details > :nth-child(2) i,
      .job-header .job__details > :nth-child(3) i {
        margin-right: 1rem; }
      .job-header .job__details > :nth-last-child(2) {
        color: var(--color-pink); }
      .job-header .job__details > :last-child {
        color: #4256ce;
        display: grid;
        grid-gap: 1rem;
        align-content: end;
        grid-template-columns: repeat(4, max-content);
        font-size: 1.4rem; }
        .job-header .job__details > :last-child > :nth-child(2) {
          border-right: 1px solid #5555;
          border-left: 1px solid #5555;
          padding: 0 1rem; }
  .job .job__description {
    margin-top: 2rem;
    color: #555; }
    .job .job__description h2 {
      font-size: 1.8rem; }
    .job .job__description-p {
      margin-top: 2rem;
      line-height: 1.8; }
    .job .job__description .posting-details {
      font-size: 1.2rem;
      margin-top: 0.6rem; }
      .job .job__description .posting-details span {
        padding: 0 1rem; }
        .job .job__description .posting-details span:nth-child(1) {
          padding-left: 0; }
        .job .job__description .posting-details span:nth-child(2) {
          border-left: 1px solid; }
  .job .suggested-searches {
    margin-top: 2rem;
    color: #555; }
    .job .suggested-searches h2 {
      font-size: 1.8rem; }
    .job .suggested-searches div {
      margin-top: 4rem; }
      .job .suggested-searches div span {
        font-size: 1.2rem;
        padding: 0.45rem 1.5rem;
        background-color: #eee;
        border-radius: 5rem;
        margin-right: 2rem; }
        .job .suggested-searches div span:hover {
          cursor: pointer;
          box-shadow: 0 1px 4px currentColor; }

footer {
  margin-top: 3rem;
  padding: 1.5rem;
  background: linear-gradient(to bottom, var(--color-2) 40%, var(--color-1));
  display: grid; }
  footer .logo {
    margin: 2.4rem auto; }
    footer .logo img {
      width: 12.1rem; }
  footer .content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
    color: white;
    justify-items: center;
    grid-gap: 7rem; }
    @media only screen and (max-width: 995px) {
      footer .content {
        grid-template-columns: 1fr;
        justify-content: start;
        grid-gap: 1rem;
        justify-items: start; } }
    @media only screen and (max-width: 995px) {
      footer .content-cols {
        border-bottom: 1px solid var(--color-3);
        width: 100%; } }
    footer .content-cols h6 {
      font-size: 1.8rem;
      margin: 2.4rem 0;
      cursor: pointer; }
      footer .content-cols h6 span {
        display: none;
        color: var(--color-2);
        text-shadow: 0 1px 1px white; }
      @media only screen and (max-width: 995px) {
        footer .content-cols h6 {
          display: flex;
          justify-content: space-between; }
          footer .content-cols h6 span {
            display: block;
            align-self: flex-end; } }
    @media only screen and (max-width: 995px) {
      footer .content-cols ul {
        display: none; } }
    footer .content-cols ul li {
      list-style: none;
      padding-bottom: 0.8rem; }
      footer .content-cols ul li a {
        color: white;
        text-decoration: none; }
      footer .content-cols ul li span {
        color: var(--color-pink); }
  footer .socials {
    display: flex;
    text-align: center;
    margin: 1rem auto; }
    footer .socials a {
      color: white;
      text-decoration: none;
      padding-left: 2rem; }
  footer .store {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .store img {
      cursor: pointer;
      margin: 1rem; }
  footer .terms {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 1rem; }
    footer .terms li {
      list-style: none; }
      footer .terms li a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem; }
  footer .copy {
    font-size: 1rem;
    color: white;
    display: flex;
    margin: 1.5rem 0;
    justify-content: center; }
