.header {
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  &__nav {
    display: flex;
    align-items: center;
    width: 100vw;

    .logo {
      width: 16rem;
      margin-right: 2rem;
      margin-top: 5px;
      flex-shrink: 0;
    }

    &__search {
      display: flex;
      height: 4.4rem;
      flex-shrink: 0;
      @media only screen and (max-width: 995px) {
        display: none;
      }
      & > * {
        border-radius: 2px;
        overflow: hidden;
      }
      &-bar {
        background-color: white;
        position: relative;
        input {
          height: 100%;
          width: 31rem;
          padding: 0 4rem;
          border: none;
          font-size: 1.6rem;
          transition: border 0.1s linear;
        }
        input:focus {
          outline: none;
          border-bottom: 2px solid var(--color-3);
        }
        input:focus + i {
          color: var(--color-3);
        }
        i {
          position: absolute;
          top: 50%;
          left: 10px;
          color: #333;
          transform: translateY(-50%);
          font-size: 2rem;
        }
      }
      &-location {
        position: relative;
        margin-left: 1px;
        input {
          height: 100%;
          padding: 0 4rem 0 1.6rem;
          width: 14.3rem;
          font-size: 1.6rem;
          border: none;
        }
        input:focus {
          outline: none;
          border-bottom: 2px solid var(--color-3);
        }
        input:focus + i {
          color: var(--color-3);
        }
        i {
          color: #333;
          position: absolute;
          font-size: 2rem;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &-distance {
        margin-left: 1px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 1.6rem;
        .value {
          margin-right: 1rem;
          cursor: default;
        }
        i {
          color: #333;
          cursor: pointer;
        }
      }
      &-btn-container {
        border: none;
        padding: 1px;
        background-color: white;
        width: 11.6rem;
        margin-left: -5px;
        border-radius: 0;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        button {
          width: 100%;
          height: 100%;
          border: none;
          background-color: var(--color-pink);
          border-radius: inherit;
          color: white;
          font-family: "Nunito";
          font-size: 1.6rem;
          font-weight: 800;
          cursor: pointer;
          &:focus,
          &:hover {
            outline: none;
            background-color: var(--color-pink-dark);
          }
        }
      }
    }
    &__links {
      display: flex;
      margin-left: auto;
      align-items: center;
      cursor: pointer;
      li {
        list-style: none;
        margin-right: 1.5rem;
        @media only screen and (max-width: 1325px) {
          display: none;
        }
        a {
          color: white;
          text-decoration: none;
        }
        &:nth-child(3) {
          border: 1px solid #89a8fe;
          padding: 0.5rem 0;
          border-radius: 5rem;
          a {
            color: white;
            text-decoration: none;
            padding: 0rem 2rem;
          }
        }
      }
    }
  }
  &__menu-btn {
    color: white;
    font-size: 5rem;
    display: none;
    cursor: pointer;
    @media only screen and (max-width: 1325px) {
      display: block;
    }
  }
}
.menu-content {
  background-color: white;
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: all 0.2s;
  box-shadow: 2px 0 100px;
  .content-1 {
    box-shadow: 0 1px 1px -1px;
    padding: 2rem;
  }
  .content-2 {
    padding: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  ul {
    li {
      list-style: none;
      font-size: 1.8rem;
      padding: 0.6rem 0;
    }
  }
}
.menu-toggle {
  @media only screen and (max-width: 1325px) {
    visibility: visible;
    width: 80vw;
    opacity: 1;
  }
}
.body-scroll {
  overflow: hidden;
  background: #fff6;
}
